/**************
## Container ##
**************/
.pure-container {
  position: relative;
  height: 100%;
  -webkit-overflow-scrolling: touch; 
	overflow: hidden;
}

/************
## Toggler ##
************/
.pure-toggle {
  left: -9999px;
  position: fixed;
  top: -9999px; }
  .pure-toggle:focus ~ .pure-toggle-label {
    border-color: #1fc08e;
    color: #1fc08e; }

.pure-toggle-label {
  display: none;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0px;
  z-index: 99;
  color: #5d809d;
  width: 70px;
  height: 70px;
  transition: all 400ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .pure-toggle-label:hover {
    border-color: #1fc08e;
    color: #1fc08e; }
    .pure-toggle-label:hover .pure-toggle-icon, .pure-toggle-label:hover .pure-toggle-icon:before, .pure-toggle-label:hover .pure-toggle-icon:after {
      background-color: #ffffff; }
  .pure-toggle-label:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .pure-toggle-label .pure-toggle-icon, .pure-toggle-label .pure-toggle-icon:before, .pure-toggle-label .pure-toggle-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 30px;
    cursor: pointer;
    background: #fefefe;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  .pure-toggle-label .pure-toggle-icon {
    transform: translate3d(-50%, -4px, 0);
    -webkit-transform: translate3d(-50%, -4px, 0); 
    -webkit-perspective: 1000;
  }
  .pure-toggle-label .pure-toggle-icon:before {
    transform: translate3d(-50%, -12px, 0);
    -webkit-transform: translate3d(-50%, -12px, 0); }
  .pure-toggle-label .pure-toggle-icon:after {
    transform: translate3d(-50%, 10px, 0);
    -webkit-transform: translate3d(-50%, 10px, 0); }

.pure-toggle-label[data-toggle-label='left'] {
  left: 15px;
  right: auto; }

.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label:not([data-toggle-label='left']), .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label:not([data-toggle-label='right']), .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label:not([data-toggle-label='top']) {
  opacity: 0;
  z-index: -1; }

.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'], .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'], .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] {
  border-color: #1fc08e;
  color: #1fc08e; }
  .pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon {
    background-color: transparent; }
  .pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:before, .pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:after, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:before, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:after, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:before, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:after {
    top: 0; }
  .pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:before, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:before, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:before {
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg); }
  .pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] .pure-toggle-icon:after, .pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] .pure-toggle-icon:after, .pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] .pure-toggle-icon:after {
    transform: translateX(-50%) translateY(-10px) rotate(-45deg);
    -webkit-transform: translateX(-50%) translateY(-10px) rotate(-45deg);
    top: 10px; }

/***********
## Drawer ##
***********/
.pure-drawer {
  position: absolute;
  top: 64px;
  /* border-top: 1px solid rgba(0,0,0,0.25); */
  left: 0;
  z-index: 1;
  height: 100%;
  visibility: hidden;
  overflow-y:auto;
  background-color: #ffffff;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  width: 300px; }
  @media only screen and (min-width:40.063em) {
    .pure-drawer {
      width: 300px; } }
  @media only screen and (min-width:64.063em) {
    .pure-drawer {
      width: 300px; } }

.pure-drawer[data-position='right'] {
  left: auto;
  right: 0; }

.pure-drawer[data-position='top'] {
  height: 100%;
  width: 100%; }
  @media only screen and (min-width:40.063em) {
    .pure-drawer[data-position='top'] {
      height: 100%; } }
  @media only screen and (min-width:64.063em) {
    .pure-drawer[data-position='top'] {
      height: 100px; } }

/*********************
## Pusher Container ##
*********************/
.pure-pusher-container {
  position: relative;
  height: 100%;
  overflow: hidden; }

/***********
## Pusher ##
***********/
.pure-pusher {
  position: relative;
  height: 100%;
  overflow-y: auto;
  left: 0;
  z-index: 2;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out; }

/*******************
## Pusher Overlay ##
*******************/
.pure-overlay {
  position: absolute;
  top: 64px;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: opacity;
  transition-duration: 100ms;
  transition-delay: 300ms;
  transition-timing-function: ease-in-out; }

.pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'] {
  left: 100%; }
  @media only screen and (min-width:300px) {
    .pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'] {
      left: 300px; } }
  @media only screen and (min-width:64.063em) {
    .pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'] {
      left: 300px; } }

.pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'] {
  right: 100%; }
  @media only screen and (min-width:300px) {
    .pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'] {
      right: 300px; } }
  @media only screen and (min-width:64.063em) {
    .pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'] {
      right: 300px; } }

.pure-toggle[data-toggle='top']:checked ~ .pure-overlay[data-overlay='top'] {
  top: 100%; }
  @media only screen and (min-width:300px) {
    .pure-toggle[data-toggle='top']:checked ~ .pure-overlay[data-overlay='top'] {
      top: 100%; } }
  @media only screen and (min-width:64.063em) {
    .pure-toggle[data-toggle='top']:checked ~ .pure-overlay[data-overlay='top'] {
      top: 100px; } }

.pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'], .pure-toggle[data-toggle='right']:checked ~ .pure-overlay[data-overlay='right'], .pure-toggle[data-toggle='top']:checked ~ .pure-overlay[data-overlay='top'] {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3; }

/********************************
## Fallback for older browsers ##
********************************/
.no-csstransforms3d .pure-toggle[data-toggle='left']:checked ~ .pure-pusher-container .pure-pusher {
  left: 100%; }
  @media only screen and (min-width:40.063em) {
    .no-csstransforms3d .pure-toggle[data-toggle='left']:checked ~ .pure-pusher-container .pure-pusher {
      left: 300px; } }
  @media only screen and (min-width:64.063em) {
    .no-csstransforms3d .pure-toggle[data-toggle='left']:checked ~ .pure-pusher-container .pure-pusher {
      left: 300px; } }
.no-csstransforms3d .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
  left: -100%; }
  @media only screen and (min-width:40.063em) {
    .no-csstransforms3d .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
      left: -300px; } }
  @media only screen and (min-width:64.063em) {
    .no-csstransforms3d .pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
      left: -300px; } }
.no-csstransforms3d .pure-toggle[data-toggle='top']:checked ~ .pure-pusher-container .pure-pusher {
  top: 100%; }
  @media only screen and (min-width:40.063em) {
    .no-csstransforms3d .pure-toggle[data-toggle='top']:checked ~ .pure-pusher-container .pure-pusher {
      top: 100%; } }
  @media only screen and (min-width:64.063em) {
    .no-csstransforms3d .pure-toggle[data-toggle='top']:checked ~ .pure-pusher-container .pure-pusher {
      top: 100px; } }

/*****************************
## Effect - Slide in on top ##
*****************************/
/* DRAWER */
[data-effect='pure-effect-slide'] .pure-drawer {
  z-index: 4;
  transition-duration: 300ms; }

[data-effect='pure-effect-slide'] .pure-drawer[data-position='left'] {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

[data-effect='pure-effect-slide'] .pure-drawer[data-position='right'] {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

[data-effect='pure-effect-slide'] .pure-drawer[data-position='top'] {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

[data-effect='pure-effect-slide'] .pure-toggle[data-toggle='left']:checked ~ .pure-drawer[data-position='left'], [data-effect='pure-effect-slide'] .pure-toggle[data-toggle='right']:checked ~ .pure-drawer[data-position='right'], [data-effect='pure-effect-slide'] .pure-toggle[data-toggle='top']:checked ~ .pure-drawer[data-position='top'] {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* OVERLAY */
[data-effect='pure-effect-slide'] .pure-overlay {
  transition-duration: 100ms;
  transition-delay: 300ms; }
